{% extends 'base_layout.html' %}

{% block content %}

<h1 class="text-center"><strong> About Vrook </strong></h1>
    <div id="about_nav">
        <p><strong>VROOK</strong> – founded by a group of Entrepreneurial Engineers, is India’s first immersive
          learning platform for Engineering and Higher education. Launched in 2017, VROOK
          is helping students across engineering streams with highly visualized learning
          programs to transform their ability to understand and conceptualize engineering
          subjects..</p>

        <p>With over 5 years of experience in understanding the higher education sector, the
          team has evolved with the market to meet the growing needs of the higher education
          industry. With a diverse team comprising of passionate founders and committed
          employees, VROOK believes in inspiring students to learn and acquire skill sets
          which can empower them for a better future. We at VROOK, are guided by world
          class mentors who believe in our journey. </p>

        <p>Each course consists of subject matter experts and content specialists who belong to
          faculty departments of reputed institutes. They are involved in curating the content of
          the courses provided in the learning platform. VROOK is a learning experience!</p>

        <p>The world of reality has its limit. But, the world of imagination is boundless. Join us in
          our endeavour, as we explore the world of education technology and move towards
          enabling students’ equal opportunity to dream and learn to the best of their potential.</p>
    </div>
{% endblock%}



