{% extends 'base_layout.html' %}

{% block content %}

 <div class="container">

   <div class="row">

    <div class="col-xl-8 offset-xl-2 py-5" id="contactform">
      <div id="contacttitle">
        <h1><strong>Contact Form</strong></h1>
      </div>
        <form id="contact-form" method="POST" action="https://formsubmit.co/info@vrook.co" role="form">
          <input type="hidden" name="_template" value="table">

          <label><strong>Full Name</strong></label>
          <input type="text" id="fname" name="Full_Name" placeholder="Your name..">

          <label><strong>Email</strong></label>
          <input type="email" name="email" placeholder="Email Address">

          <label><strong>Phone Number</strong></label>
          <input type="text" id="lname" name="Number" placeholder="Your Phone Number..">

          <label for="subject"><strong>Subject</strong></label>
            <select id="subject" name="subject">
              <option value="login/register_related">login/register related</option>
              <option value="Course_related">Course related</option>
              <option value="other">Others</option>
            </select>

          <label><strong>Message</strong></label>
          <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit"  value="Submit">

        </form>

      </div>

    </div>

  </div>

{% endblock%}