<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Vrook blog</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Vrook blog</h1>-->
<!--    <p>VROOK believes in inspiring students to learn and acquire skill sets which can empower them for a better future.</p>-->
<!--</body>-->
<!--</html>-->

{% extends 'base_layout.html' %}

{% block content %}
    <h1>Vrook blog</h1>
    <p>VROOK believes in inspiring students to learn and acquire skill sets which can empower them for a better future.</p>
{% endblock%}
