{% extends 'base_layout.html' %}

{% block content %}
    <h1>Vrook Blog Posts</h1>
    <div class="articles">
        {% for article in articles %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ article.author }}</a>
                  <small class="text-muted">{{ article.date|date:"F d,Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'articles:details' slug=article.slug %}">{{ article.title  }}</a></h2>
                <p class="article-content">{{ article.snippet|safe }}</p>
              </div>
            </article>
        {% endfor %}
    </div>
{% endblock%}
